In [32]:
import datetime

In [151]:
a = datetime.date(year=2000, month=2, day=6)
print(a)

2000-02-06

In [152]:
b = datetime.time(hour=2, minute=43, second=58, microsecond=12)
print(b)

02:43:58.000012

In [35]:
print(s, s.hour) # можно обращатся к любому элементу

2000-02-06 02:43:58.000012 2

In [56]:
s= datetime.datetime.now() + datetime.timedelta(days=40, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)
print(s) # timedelta позволяет добавлять дни или время в datetime
print(s - datetime.datetime.now())

2021-08-09 03:05:01.888081
39 days, 23:59:59.999043

In [153]:
x = datetime.datetime(year=2000, month=6, day=2, hour=2, minute=43, second=58, microsecond=12)
print(x)

2000-06-02 02:43:58.000012

In [65]:
print(x.tzinfo) # временная зона

None

In [168]:
print(x.today())

2021-07-01 01:14:22.399951

In [165]:
print(x.fromtimestamp(0))
print(x.fromtimestamp(2000000000)) # секунды с 1970-01-01 02:00:00

1970-01-01 02:00:00
2033-05-18 06:33:20

In [134]:
f = x.fromordinal(20000) # дни с 1970-01-01 02:00:00
print(f, f.year)

0055-10-04 00:00:00 55

In [155]:
print(x.now()) # время сейчас

2021-07-01 01:10:15.850196

In [156]:
print(x.combine(a, b)) # обьединяет date и time в datetime

2000-02-06 02:43:58.000012

In [157]:
print(x.now().strftime('%a:%A:%w:%d:%b:%B:%m:%y:%Y:%H:%I:%p:%M:%S:%f:%z:%y:%j:%U:%W:%c:%x:%X:%%'))
# https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior

Thu:Thursday:4:01:Jul:July:07:21:2021:01:01:AM:10:35:220472::21:182:26:26:Thu Jul  1 01:10:35 2021:07/01/21:01:10:35:%

In [158]:
print(x.date())

2000-06-02

In [159]:
print(x.time())

02:43:58.000012

In [160]:
print(x.replace(hour=9))

2000-06-02 09:43:58.000012

In [161]:
print(x.timetuple())

time.struct_time(tm_year=2000, tm_mon=6, tm_mday=2, tm_hour=2, tm_min=43, tm_sec=58, tm_wday=4, tm_yday=154, tm_isdst=-1)

In [162]:
print(x.toordinal())

730273

In [145]:
x.timestamp()

959903038.000012

In [148]:
x.weekday()

4

In [147]:
x.isoweekday()

5

In [146]:
x.isocalendar()

(2000, 22, 5)

In [149]:
x.isoformat(sep='x')

'2000-06-02x02:43:58.000012'

In [163]:
x.ctime()

'Fri Jun  2 02:43:58 2000'